{%
    set classes = [
    'field',
    'field--label-' ~ label_display,
    'clearfix',
    'text-align-left'
]
%}
{%
    set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
]
%}

<div{{ attributes.addClass(classes) }}>
    {% if not label_hidden %}
        <p{{ title_attributes.addClass(title_classes) }}>{{ label }}</p>
    {% endif %}

    {% for item in items %}
        <span{{ item.attributes }}><mark>{{ item.content }}</mark></span>
    {% endfor %}
</div>
